[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = dimitribrems
	email = dimitribremsd3b@gmail.com
[core]
	editor = \"C:\\Users\\dimit\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
